.main-container {
	display: grid;
	margin: 20px 0 20px 20px;

	grid-template-columns: 20% 1fr;
	grid-template-rows: 60px 1fr 50px;

	grid-template-areas:
		'navbar  navbar'
		'sidebar content'
		'footer  footer';
}

/* Area assignments */
.navbar {
	grid-area: navbar;
}

.sidebar {
	grid-area: sidebar;
	margin-right: 10px;
}

.content {
	grid-area: content;
	background: #f3f4f6;
	min-height: 100vh;
}

.footer {
	grid-area: footer;
}
