.main-container {
	display: grid;

	grid-template-columns: 20% 1fr;
	grid-template-rows: 60px 1fr 50px;

	grid-template-areas:
		'navbar  navbar'
		'sidebar content'
		'footer  footer';
}

/* Area assignments */
.navbar {
	grid-area: navbar;
	margin: 0 20px;
}

.sidebar {
	grid-area: sidebar;
	margin: 0 20px;
}

.content {
	grid-area: content;
	background: #f3f4f6;
	width: 100%;
	height: calc(100vh - 110px);
}

.footer {
	grid-area: footer;
	margin: 0 20px;
}
