.form-field-input {
	display: flex;
	flex-direction: column;
}

.form-field-input .field {
	border: 1px solid lightgray;
	border-radius: 5px;
	background-color: black;
	color: white;
	width: 200px;
	padding: 5px;
	cursor: pointer;
}
