.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.btn {
    border: 1px solid red;
    padding: 5px;
}

.logo {
    /* width: 100%; */
    height: 100%;
}