.form-field-input {
	display: flex;
    flex-direction: column;
}

.form-field-input .input {
	border: 1px solid lightgray;
    border-radius: 5px;
    width: 250px;
    height: 36px;
	background-color: white;
}

.form-field-input .area {
	border: 1px solid lightgray;
    border-radius: 5px;
	background-color: white;
}
